@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.serachresult {
  margin-top: 400px;
}
.headcart {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.cart-content {
  width: 80%;
  margin: auto;
}

.headOfcart {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 10px;
  font-weight: bold;
}

.content-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.content-cart img {
  width: 20vw;
  max-height: 20vh;
  margin-right: 20px;
  border-radius: 10px;
}

.cart-subcontent {
  flex-grow: 1;
}

.remove-cart {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cartprice {
  color: green;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  font-weight: bold;
}

.buy button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
}

.buy button:hover {
  background-color: #0056b3;
}

.AccountLoginMainContainer {
  display: flex;
  flex-direction: column;
}
.AccountLoginMainContainer2 {
  display: none;
  position: absolute;
  background-color: #007bff;
  z-index: 3;
  color: black;
  padding: 5px 10px;
  font-size: 20px;
}
.AccountLoginMainContainer:hover .AccountLoginMainContainer2 {
  width: fit-content;
  top: 50px;
  right: 30px;
  display: flex;
  flex-direction: column;
  color: black;
}

.custom-arrow {
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  border: none;
}

.custom-arrow-left {
  left: 10px;
  z-index: 1;
}

.custom-arrow-right {
  right: 10px;
}

.App {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #459af4;
}
.navlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 56vw;
  color: #459af4;
}
.navlink li {
  position: relative;
}
.submenu {
  position: absolute;
  background-color: #459af4;
  width: 10vw;
  left: 0;
  display: none;
  z-index: 1;
}
.submenu2 {
  position: absolute;
  left: 100%;
  width: 10vw;
  top: 0;
  background-color: #459af4;
  display: none;
}

.navlink li:hover > .submenu {
  display: block;
}

.submenu li:hover > .submenu2 {
  display: block;
}

.submenu li:hover {
  background-color: #459af4;
}

.submenu2 ul li:hover {
  background-color: #459af4;
}

.title {
  width: 10vw;
  color: white;
}
.searchbar {
  height: 4vh;
  width: 11vw;
  outline: none;
  border: none;
}
.whole-searchbar {
  border: 2px solid black;
  background-color: white;
}

.logosearchbar {
  outline: none;
  background-color: black;
  border: none;
  align-items: center;
  font-size: 15px;
}
.navlink-names {
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-style: italic;
}
.navlink-names:hover {
  color: grey;
}
.searchbar-logo {
  display: flex;
  width: 27vw;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.logo {
  display: flex;
  justify-content: space-around;
  width: 10vw;
}
.fa-cart-shopping {
  font-size: 25px;
  color: white;
}
.userid {
  font-size: 25px;
  color: white;
}

.fa-heart {
  font-size: 25px;
}

.slider {
  height: 70vh;
}
.Hamburgur {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}
.cards {
  height: 32vh;
  margin-top: 20px;
  width: 23vw;
  border: 1px solid black;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.cartContainer {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.AccountLoginMainContainer:hover .AccountLoginMainContainer2 {
  top: 50px;
  right: 30px;
  display: flex;
  flex-direction: column;
  color: black;
}
/**********************************************NavbarEnd************************************/
.maincontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.conatiner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vw;
  margin: 15px auto;
  text-align: center;
}
.LaptopConatiner {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.LaptopContainer2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vw;
  margin: 15px auto;
  text-align: center;
}
.LaptopmodelName {
  margin-top: 47px;
  line-height: 3vh;
  font-size: 24px;
  font-style: italic;
}
.LaptopPrice-of-All {
  font-size: 24px;
}
.HomemodelName {
  margin-top: 27px;
  line-height: 3vh;
  font-size: 24px;
  font-style: italic;
}
.child_conatiner {
  padding: 1vh;
  width: 20vw;
  height: 55vh;
  border-radius: 12px;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px 5px grey;
}

.Main_image {
  width: 90%;
  height: 14vh;
}
.Welcome {
  margin-top: 2vh;
  height: 8vh;
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(135, 6, 6, 0.5);
}
.mobile_sub {
  flex-direction: column;
  background-color: #459af4;
  display: flex;
  position: absolute;
}
.mobile_sub {
  display: none;
  position: absolute;
  background-color: #459af4;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  flex-direction: column;
}
.mobile-link:hover::after .mobile_sub {
  display: none;
}
/***********************************Groceery**************************/
.Grocerry_image {
  margin: 4px 4px;
  width: 80%;
  height: 35vh;
  border-radius: 10px;
  overflow: hidden;
}
/*******************************Sidediv***************************/
.sidediv {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  height: auto;
  width: 20%;
  font-size: 2vw;
  gap: 10px;
  padding: 20px 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  margin-top: 20vh;
  font-weight: 700;
}
.sidebarLink {
  color: black;
  text-decoration: none;
}
.slide_image {
  width: 100%;
  overflow: hidden;
  height: 40vh;
}
.Carosusel {
  height: 40vh;
}
.Product_View {
  display: flex;
  width: 100%;
  height: 40vh;
}

.image-slider {
  max-width: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 40vh;
}

.LoadMoreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.laptop-loadmore {
  width: 13vw;
  height: 7vh;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #459af4;
}
/*****************************Laptop**************************/
.Laptop_image {
  margin: 4px;
  width: 18vw;
  height: 27vh;
  border-radius: 10px;
  overflow: hidden;
}
.laptop_div {
  width: 100%;
  height: 28vh;
}

/**********************************Clothes************************/
.Clothes_image {
  margin: 4px 4px;
  width: 80%;
  height: 27vh;
  border-radius: 10px;
}
/**************************************Electronic******************/
.Electronic_image {
  margin: 4px 4px;
  width: 80%;
  height: 28vh;
  border-radius: 10px;
}
/*******************************Mobile****************************/
.Mobile_image {
  margin: 4px 4px;
  width: 80%;
  height: 28vh;
  border-radius: 10px;
}
/*********************************Home***************************/

.Home_product {
  width: 100%;
  height: 40vh;
}
.Home_best_seller {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 3vw;
  font-style: italic;
  text-shadow: 2px 2px 8px #ff0000;
}
.Homeconatiner1 {
  margin-top: 15px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8vh;
}

.HomeChild {
  width: 22vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
}

.Home_image {
  padding: 1vh;
  width: 18vw;
  height: 36vh;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px grey;
}

.modelName {
  margin-top: 10px;
  line-height: 3vh;
  font-size: 24px;
  font-style: italic;
}

.buttonforAll {
  font-size: 22px;
  text-decoration: none;
  padding: 0.5vh;
  color: white;
  background-color: #459af4;
  border-radius: 4px;
  margin-top: 1vh;
  border: none;
}
.singlebuttonForAll {
  font-size: 22px;
  text-decoration: none;
  padding: 0.5vh;
  color: white;
  background-color: #459af4;
  border-radius: 4px;
  margin-top: 1vh;
}
.AdvertismentforHome {
  margin-top: 14vh;
  width: 99%;
  height: 45vh;
}
.sipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 20px auto;
  align-items: center;
  width: 80%;
}

.firstsipping {
  width: 20vw;
  border-radius: 5px;
}
.secondsipping {
  width: 20vw;
  justify-items: center;
}
.thirdsipping {
  width: 20vw;
  justify-items: center;
}
.imageOne {
  font-size: 3vw;
  color: orange;
}
h3 {
  margin-top: 2vh;
}
h4 {
  margin-top: 3vh;
}

/**********************************LOginSignup************************************************/
.center1 {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 30%;
  margin: auto;
}

#heading {
  font-size: 2rem;
}

#font {
  font-size: 1rem;
}

.text2,
.text3,
.text4 {
  width: 50%;
  padding: 1px;
  margin-bottom: 5px;
}

.button1 {
  background-color: #459af4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.or1 {
  margin: 10px 0;
}

.nextpage1 {
  text-decoration: none;
  color: #459af4;
  font-weight: bold;
}

/* Add your responsive styles here */

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  height: 50vh;
}

#heading {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #007bff;
}

.word {
  font-size: 1rem;
}

.text,
.text1 {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.button {
  background-color: #459af4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.or {
  margin: 15px 0;
}

.nextpage {
  text-decoration: none;
  color: #459af4;
  font-weight: bold;
}
@media (max-width: 600px) {
  .center {
    height: 70vh;
  }
}

/*************************************singlePageConatiner****************************************/
.SingleParentConatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.page_single_image img {
  width: 40vw;
  height: 40vh;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.textCotainer {
  gap: 4vh;
  flex: 1;
  padding: 20px;
}

.textCotainer h2 {
  gap: 4vh;
  font-size: 24px;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/**********************************footer***************************/
.footer {
  background-color: #459af4;
  color: white;
  padding: 30px 0;
  margin-top: 4vh;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  color: #f2f2f2;
}
.footer-section {
  flex: 1;
  text-align: center;
  color: #f2f2f2;
}
.footertext {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.footer-section p {
  margin: 10px 0;
  color: #f2f2f2;
}

.footer-section h2 {
  font-size: 1.2rem;
  color: #f2f2f2;
}
.companyName {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
/* .CompanyNameFooter{
 margin-top: 4vh;
} */

@media (max-width: 668px) {
  .footer-content {
    flex-direction: column;
  }
  .footer {
    margin-top: 2vh;
  }
}
/***************************About***************************/
/* Reset some default styles for body and headings */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
.about-section {
  background-color: #f5f5f5;
  padding: 60px 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
/* 
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
} */

p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}
/* Contact.css */

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .contact-container {
    padding: 10px;
  }

  input,
  textarea {
    width: 100%;
  }
}
/* Support.css */

.support-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.contact-info,
.faq-section {
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

/* Responsive Styles */

/***************************************Responsive*****************************/
@media screen and (min-width: 300px) and (max-width: 667px) {
  * {
    box-sizing: border-box;
  }
  .navbar {
    display: flex;
    width: 100%;
    flex-flow: column-reverse;
  }
  .searchbar-logo {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
  }
  .logodiv {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .userid {
    margin-top: 2vh;
    margin-right: -55px;
    font-size: 32px;
  }
  .logoCart {
    margin-top: 2vh;
    margin-right: 17px;
    font-size: 32px;
  }
  .Hamburgur {
    display: block;
    font-size: 24px;
  }
  .title {
    display: none;
  }
  .whole-searchbar {
    display: none;
  }
  .navlink {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: space-around;
  }
  .navlinkterminate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navlink li:hover > .submenu {
    display: none;
  }
  .SingleParentConatiner {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .Welcome {
    font-size: 20px;
  }

  .sidediv {
    display: none;
  }
  .HomeChild {
    width: 95%;
    height: auto;
  }
  .child_conatiner {
    flex-direction: row;
    width: 100%;
    gap: 2vh;
    height: 53vh;
    flex-wrap: wrap;
  }
  .Laptop_image {
    width: 93vw;
    overflow: hidden;
  }
  .conatiner {
    flex-direction: column;
    gap: 4vh;
    flex-wrap: wrap;
  }
  .laptop-loadmore {
    width: 40vw;
    height: 10vh;
  }
  .Home_image {
    width: 95%;
    height: auto;
  }
  .buttonforAll {
    font-size: 22px;
    padding: 0.3vh 1vh;
    margin-top: 0.5vh;
  }
  .singlebuttonForAll {
    align-items: center;
  }
  .Price-of-All {
    font-size: 24px;
  }
  .sipping {
    flex-direction: column;
    gap: 5vh;
  }
  .firstsipping {
    width: 100%;
  }
  .secondsipping {
    width: 100%;
  }
  .thirdsipping {
    width: 100%;
  }
  .SingleParentConatiner {
    flex-direction: column;
    align-items: flex-start;
  }
  .page_single_image img {
    margin-right: 0;
    margin-bottom: 20px;
    overflow: hidden;
    width: 84vw;
  }
  .textCotainer {
    padding: 0;
    width: 100%;
  }
  .textCotainer h2 {
    font-size: 25px;
    text-align: center;
  }
  .LaptopContainer2 {
    gap: 6vh;
  }
}

@media screen and (min-width: 668px) and (max-width: 1020px) {
  .navbar {
    display: flex;
    width: 100%;
    flex-flow: column-reverse;
  }
  .searchbar-logo {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
  }
  .logodiv {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .userid {
    margin-top: 2vh;
    margin-right: 40px;
    font-size: 38px;
  }
  .logoCart {
    margin-top: 2vh;
    margin-right: 40px;
    font-size: 38px;
  }
  .Hamburgur {
    display: block;
    font-size: 28px;
  }
  .title {
    display: none;
  }
  .whole-searchbar {
    display: none;
  }
  .navlink {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: space-around;
  }
  .navlinkterminate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navlink li:hover > .submenu {
    display: none;
  }
  .Welcome {
    font-size: 20px;
  }

  .sidediv {
    display: none;
  }
  .HomeChild {
    width: 95%;
    height: auto;
  }
  .child_conatiner {
    flex-direction: row;
    width: 98%;
    gap: 2vh;
    height: 47vh;
    flex-wrap: wrap;
  }
  .Laptop_image {
    width: 93vw;
    overflow: hidden;
  }
  .conatiner {
    flex-direction: column;
    gap: 4vh;
    flex-wrap: wrap;
  }
  .laptop-loadmore {
    width: 40vw;
    height: 10vh;
  }
  .Home_image {
    width: 95%;
    height: auto;
  }
  .buttonforAll {
    font-size: 22px;
    padding: 0.3vh 1vh;
    margin-top: 0.5vh;
  }
  .singlebuttonForAll {
    align-items: center;
    margin-left: 30vw;
  }
  .Price-of-All {
    font-size: 24px;
  }
  .sipping {
    flex-direction: column;
    gap: 5vh;
  }
  .firstsipping {
    width: 100%;
  }
  .secondsipping {
    width: 100%;
  }
  .thirdsipping {
    width: 100%;
  }
  .SingleParentConatiner {
    flex-direction: column;
    align-items: flex-start;
  }
  .page_single_image img {
    margin-right: 0;
    margin-bottom: 20px;
    overflow: hidden;
    width: 89vw;
  }
  .textCotainer {
    padding: 0;
  }
  .textCotainer h2 {
    font-size: 25px;
    text-align: center;
  }
  .LaptopContainer2 {
    gap: 6vh;
  }
}
/* .checkout-container {
  display: flex;
  justify-content: space-between;
} */

.checkout-container {
  display: flex;
  justify-content: space-between;
}

form {
  width: 30%;
  margin-left: 15%; /* Adjust the width as needed */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.order-details {
  margin-right: 20px;
  width: 30%;
  min-height: 30vh;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid gray;
  box-shadow: 2px 2px 4px gray;
  border-radius: 10px;
}

.cartprice {
  color: #333;
}
.centerdivforMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid gray;
  width: 50%;
  margin: auto;
  margin-top: 15vh;
  height: 30vh;
  box-shadow: 2px 2px 4px gray;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
  }

  form,
  .order-details {
    width: 100%;
  }
}

.checkout {
  text-align: center;
}
.finalbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh; /* Set the height of the container to 100% of the viewport height */
}

@media screen and (min-width: 1020px) and (max-width: 1370px) {
  .Homeconatiner1 {
    gap: 8vh;
  }
  .Home_image {
    width: 26vw;
    height: 30vh;
  }
  .Laptop_image {
    width: 100%;
  }
  .LaptopmodelName {
    margin-top: 80px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .headcart {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .cart-content {
    width: 90%;
    margin: auto;
  }

  .headOfcart {
    flex-direction: column;
    align-items: center;
  }

  .content-cart {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .content-cart img {
    width: 100%;
    max-height: auto;
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .remove-cart {
    margin-top: 10px;
  }

  .total {
    justify-content: center;
    padding-top: 10px;
  }

  .buy button {
    width: 100%;
    margin-top: 15px;
  }
}

/* Small tablet and larger mobile landscape styles */
@media (min-width: 650px) and (max-width: 767px) {
  .cart-content {
    width: 80%;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 991px) {
  .content-cart img {
    width: 15vw;
    max-height: 15vh;
  }
}

/* Desktop styles */
@media (min-width: 992px) {
  .headcart {
    font-size: 28px;
  }

  .cart-content {
    width: 70%;
  }

  .content-cart img {
    width: 15vw;
    max-height: 15vh;
  }

  .buy button {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .center1 {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .support-container {
    padding: 10px;
  }
}
